.logo {
   position: absolute;
   left: 5%;
   right: 0%;
   top: 0%;
   border-radius: 0px 0px 25px 25px;
}
.nav{
display: flex; 
list-style-type: none;
justify-content: center;
padding-left: 0%;
}
.nav>li>a{
text-decoration: none;
position: static;
color: #808080;
flex: none;
flex-grow: 0;
margin-left:0px;
margin-right:12px;
}
#rectangle {
   border-radius:0%0% 10% 10%;
   width: 200px;
   height: 100px;
   background: #8FC2D8;
   position: absolute;
}








